*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
table,
th,
td {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
