/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/main-base';
@import './utils/main-utils';
@import './layout/main-layout';
