:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Lato', sans-serif;
  --accent-color: #d7537a;
  --main-text-color: #272626;
  --secondary-accent-color: #7ea048;
  --secondary-text-color: #fff8f5;
  // --footer-text-color: #545454;
  --main-bg-color: #fff0e4;
  --third-accent-color: #073c2a;
  --icon-color: #8e8d6f;
  // --gradient-color: rgba(0, 0, 0, 0.56);
  // --card-shadow: 0 0 10px 2px rgba(#000000, 0.21);
  /*  ---------------- Animation ----------------- */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
