.hero {
  &__title {
    padding-top: 122px;
    margin-bottom: 25px;
    font-family: var(--main-font);
    @include font(700, 24px, 29px, 0.02em);
    color: var(--main-text-color);
  }

  &__desc {
    padding-bottom: 30px;
  }
  &-section {
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
  }
}
